.homepage-container {
  position: fixed;
  top: 70px;
  bottom: 50px;
  left: 5px;
  right: 5px;
}

.homepage-container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url(../../assets/images/loader_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.homepage-logo {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.homepage-logo img {
  height: 100px;
  align-self: center;
  display: block;
  margin: 15% auto;
  width: 50%;
  cursor: pointer;
}
